<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    En Çok Yıldız Alan Diyetisyen
                </h2>
                <br/>
                <h3 class="font-bold no-margins">@ViewBag.consultantName</h3>
            </div>
            <img src="~/resim/@ViewBag.consultantImage" width="160" height="200" class="rounded-circle circle-border m-b-md" alt="profile">
            <div>
                <span>Toplam</span> |
                <span><i style="color: yellow" class="fa fa-star"></i> &nbsp @ViewBag.score</span> |
                <span>Skor ile</span>
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">@ViewBag.consultantName</h4>
            <p>Büyük zaferler güçle değil azimle kazanılır.</p>
            <div class="text-right">

            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-user-md fa-4x"></i>
                <h1 class="m-xs">@ViewBag.userCount</h1>
                <h3 class="font-bold no-margins">
                    Toplam Diyetisyen
                </h3>
                <small></small>
            </div>
        </div>
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-users fa-4x"></i>
                <h1 class="m-xs">@ViewBag.clientCount</h1>
                <h3 class="font-bold no-margins">
                    Danışan
                </h3>
                <small></small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget lazur-bg p-xl">

            <h2>
                İletişim
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>Email:</label>
                    admin@mail.com
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Adres:</label>
                    Cadde 200, sokak 10
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Telefon:</label>
                    (+312) 678 3462
                </li>
            </ul>

        </div>
        <div class="widget red-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-file-o fa-4x"></i>
                <h1 class="m-xs">@ViewBag.falseBlog</h1>
                <h3 class="font-bold no-margins">
                    Blog
                </h3>
                <small> Silinen blog sayısı</small>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>
                <h1 class="m-xs">Alarm</h1>
                <h3 class="font-bold no-margins">
                    Bakım
                </h3>
                <small>için alarma bas</small>
            </div>
        </div>
    </div>
</div>

@section scripts{

}